
<div class="container animated fadeInLeft">
  <div class="row">
    <div class="top_dl ">
    <dl>
    <dt>烘培</dt>
    <dd *ngFor="let item of hongpei;let i=index">
    <a (click)="jia(item.hong)">{{item.hong}}</a>
    </dd>
    </dl>
    <div class="books_title ">
    <p>把爱卷进面团，让它到烤箱里继续升温</p>
    </div>
    </div>
  </div>
</div>


<div class="row animated fadeInLeft">
  <ul>
    <li class="col-xs-6 col-md-3 hvr-float" *ngFor="let cook of _cooks|hongpei|paginate: { itemsPerPage: 8, currentPage: p }">
      <a  (click)="toCookdetail(cook?.ckname)"  class="thumbnail ">
        <div class="hovereffect">
          <img class="img-responsive" src="../../../assets/images/cookbook/{{cook?.ckimg}}" alt="...">

        </div>
        <div class="caption text-left">
          <p style="margin-bottom: 5px"><strong class="title">{{cook?.ckname}} </strong></p>
          <span>{{cook?.ckrenqi}} 人气</span>
          <p>{{cook?.ckauthor}}</p>
        </div>
      </a>
    </li>
  </ul>
</div>
<pagination-controls previousLabel="上一页" nextLabel="下一页" (pageChange)="p = $event"></pagination-controls>


    <!--<pagination-controls class="pagination" (pageChange)="p = $event"></pagination-controls>-->


