<div>
  <div class="container-fluid">
    <div class="row">
      <div class="container">
        <div class="row">
          <div class="health-title col-xs-4">
            <h3>{{_detail?.healthtitle}}</h3>
            <p>作者:{{_detail?.healthauthor}}</p>
            <p>时间:{{_detail?.healthtime}}</p>
            <div class="info-img">
              <img src="{{_detail?.healthimg}}" alt="">
            </div>
          </div>
          <div class="health-detail col-xs-8">
            <div>
              <p>{{_detail?.healthp1}}</p>
              <p>{{_detail?.healthp2}}</p>
              <p>{{_detail?.healthp3}}</p>
              <p>{{_detail?.healthp4}}</p>
              <p>{{_detail?.healthp5}}</p>
              <p>{{_detail?.healthp6}}</p>
              <p>{{_detail?.healthp7}}</p>
              <p>{{_detail?.healthp8}}</p>
              <p>{{_detail?.healthp9}}</p>
              <p>{{_detail?.healthp10}}</p>
              <p>{{_detail?.healthp11}}</p>
              <p>{{_detail?.healthp12}}</p>
              <p>{{_detail?.healthp13}}</p>
              <p>{{_detail?.healthp14}}</p>
              <p>{{_detail?.healthp15}}</p>
            </div>
          </div>
        </div>
      </div>
     </div>
  </div>
</div>



