<div class="container-fluid myfooter">
  <div class="row">
    <div class="container">
      <div class="row">

        <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
          <div class="myfooter-logo">
            <img src="../../../assets/images/logo/logobottom.png" alt="">
          </div>
        </div>

        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
          <div class="myfooter-info">
            <div class="myfooter-list">
              <li><a href="">关于寻味</a></li>
              <li><a href="">成长记忆</a></li>
              <li><a href="">友情链接</a></li>
              <li><a href="">意见反馈</a></li>
              <li><a href="">「我们」小事</a></li>
            </div>
            <p class="myfooter-info">All rights reserved &copy; xunwei.me /苏ICP备12022698号-1</p>
          </div>

        </div>

        <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
          <div class="myfooter-icon">
            <a href=""><img class="icon" src="../../../assets/images/icon/tel.png" alt=""></a>
            <a href=""><img class="icon" src="../../../assets/images/icon/weibo.png" alt=""></a>
            <a href=""><img class="icon" src="../../../assets/images/icon/weixin.png" alt=""></a>
          </div>

        </div>

      </div>
    </div>


  </div>
</div>
