<div class="shutter">
  <div class="shutter-img">
    <a  data-shutter-title="Iron Man"><img src="./../../../assets/images/index-banner/02.jpg"/></a>
    <a  data-shutter-title="Super Man"><img src="./../../../assets/images/index-banner/03.jpg"/></a>
    <a  data-shutter-title="The Hulk"><img src="./../../../assets/images/index-banner/04.jpg"/></a>
    <a  data-shutter-title="The your"><img src="./../../../assets/images/index-banner/06.jpg"/></a>
  </div>
  <ul class="shutter-btn">
    <li class="prev"></li>
    <li class="next"></li>
  </ul>
</div>
